/*-----------------------------------Fonts---------------------------*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

/*-----------------------------------Declaring CCS Variables---------------------------*/

:root {
    --white: #f7fff7;
    --black: rgb(54, 54, 54);
    --red: #c33149
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Serif",sans-serif;
    background-color: var(--black);
}

/*-----------------------------------navbar----------------------------*/
.navbar-dark {
    background-color: transparent;
}

.navbar-items {
    margin-bottom: 15px;
}

/*-----------------------------------navbar hover----------------------------*/

.navbar .navabar-items a {
    transition: all 0.90s ease-in-out;
    -moz-transition: all 0.90s ease-in-out;
    -webkit-transition: all 0.90s ease-in-out;
    -o-transition: all 0.90s ease-in-out;
}

.navbar .navbar-items a:hover {
    color: var(--red);
}

.collapse .navbar-nav .nav-item a {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.collapse .navbar-nav .nav-item a:hover {
    color: var(--red);
}

/*-----------------------------------/navbar hover----------------------------*/

.navbar-nav .nav-item {
    margin-right: 5px;
    letter-spacing: 4px;
    font-weight: bold;
}

.navbar .navbar-toggler {
    margin-left: 15px;
    border: 0;
}

.dropdown-menu {
    background-color: var(--black);
}

.dropdown-item {
    color: var(--white)
}

/*-----------------------------------/navbar----------------------------*/

/*-----------------------------------Index Section----------------------------*/

.callout-container {
    margin-bottom: 20px;
    height: 50vh;
    background: url(../images/heroimage.jpg) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.about-container {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--white);
}

.about p {
    text-align: left;
    margin-bottom: 25px;
    font-size: 16px;
    letter-spacing: 1px;
}

.gallery {
    margin-bottom: 50px;
}

.gallery-container {
   margin-top: 20px;
   margin-bottom: 20px;
   color: var(--white);
}

.carousel-item {
    height: 20rem;
    background-color: var(--black);
}

.carousel-control-prev-icon {
    background-color: var(--black);
}

.carousel-control-next-icon {
    background-color: var(--black);
}

.container-wrapper-about {
    background-color: var(--red);
    margin-top: 50px;
}

.container-wrapper {
    background-color: var(--red);
}

.reviews-container {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--red);
    
}

.reviews {
    text-align: center;
    margin: 30px;
}

.reviews i {
    margin-bottom: 10px;
}

.btn-feedback {
    margin-bottom: 20px;
}

.callout-button {
    margin-bottom: 10px;
}

/*-----------------------------------/Index Section----------------------------*/

/*-----------------------------------Menus----------------------------*/
.callout-container-alacarte {
    margin-bottom: 20px;
    height: 50vh;
    background: url(../images/alacartecontainer.jpg) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.callout-container-lunch {
    margin-bottom: 20px; 
    height: 50vh;
    background: url(../images/lunchcontainer.jpg) no-repeat right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.callout-container-pretheatre {
    margin-bottom: 20px;  
    height: 50vh;
    background: url(../images/pretheatrecontainer.jpg) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.menu-container {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--white);
    background-color: var(--red);
}

.starter {
    color: var(--white);
}

.deserts {
    color: var(--white);
    margin-bottom: 40px;
}

.price {
    margin-bottom: 0;
}

.dish-col-one {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 2px;
}

.dish-col-one i {
    font-size: 12px;
}

.dish-col-two {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 2px;
}

.dish-col-two i {
    font-size: 12px;
}

.btn-menu {
    margin: 2px;
    font-weight: bold;
}

.container-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----------------------------------/Menus----------------------------*/

/*-----------------------------------Offers----------------------------*/
.callout-container-offers {
    margin-bottom: 20px;
    height: 50vh;
    background: url(../images/offerscontainer.jpg) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.lunch-offer-container {
    margin-top: 20px;
    color: var(--white);
    justify-content: center;
    justify-items: center;
}

.lunch-offer-image {
    width: 80%;
    height: 80%;
    background-color: var(--black);
    padding-left: 50px;
    margin-top: 5px;
}

.img-thumbnail {
    background-color: var(--black);
}

.lunch-offer {
    margin-top: 25px;
    padding-left: 5px;
}

.lunch-offer p {
    text-align: left;
    font-size: 12px;
}

.pretheatre-offer-container {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--white);
    justify-content: center;
    justify-items: center;
    background-color: var(--red);
}

.pretheatre-offer-image {
    width: 80%;
    height: 80%;
    background-color: var(--red);
    padding-left: 50px;
    margin-top: 5px;
}

.img-thumbnail {
    background-color: var(--black);
}

.pretheatre-offer {
    margin-top: 25px;
    padding-left: 5px;
}

.pretheatre-offer p {
    text-align: left;
    font-size: 12px;
}

.btn-bottom {
    margin-bottom: 50px;
}

/*-----------------------------------/Offers----------------------------*/

/*-----------------------------------Contact---------------------------*/
.callout-container-contact {
    margin-bottom: 20px;
    height: 50vh;
    background: url(../images/contactcontainer.jpg) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.location-container {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--white);
}

.map-wrapper {
    margin-bottom: 20px;
    margin-top: 20px;
}

.map-wrapper i {
    margin-bottom: 10px;
    margin-top: 20px;
}

.form-container {
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;

}

.form-container label {
   color: var(--white);
   
}

.btn-email {
    font-weight: bold;
    margin-top: 20px;
}

/*-----------------------------------/Contact----------------------------*/

/*-----------------------------------Footer----------------------------*/
.footer-container {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--white);
}

.footer {
    text-align: center;
}

.footer-heading {
    font-size: 25px;
    font-weight: bold;
}

.footer-heading-address {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: bold;
}

.footer-links {
    margin-top: 20px;
}

.footer-links li a i {
    margin-top: 10px;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: var(--white);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
/*-----------------------------------Hover----------------------------*/

.footer-links li a i:hover {
    color: var(--red);
}

/*-----------------------------------/Footer----------------------------*/

/*-----------------------------------Alert----------------------------*/
.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    padding: 5px 15px;
}

.alert-warning {
    color: var(--white);
    background-color: var(--red);
    text-align: center;
}

/*-----------------------------------/Alert----------------------------*/

/*-----------------------------------Animation----------------------------*/
@keyframes hero-zoom {
  
  from {
      transform: scale(0.9);
  }

  to{
      transform: scale(1);
  }

}
/*-----------------------------------/Animation----------------------------*/

/*-----------------------------------Speacial Headings----------------------------*/

.page-header {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 35px;
    color: var(--white);
    letter-spacing: 2px;
}

.menu-header {
    color: var(--white);
    font-weight: bold;
    text-align: center;
    padding-right: 10px;
}

.about-menu-header {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--white);
    letter-spacing: 2px;
    font-size: 15px;
}

.pretheatre-menu-header {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--white);
    letter-spacing: 2px;
    font-size: 20px;
}

/*-----------------------------------/Speacial Headings----------------------------*/

/*-----------------------------------Media Queries----------------------------*/
@media(min-width: 320px) {
    .btn-email {
        font-weight: bold;
    }

    .page-header {
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    color: var(--white);
    letter-spacing: 2px;
    }

    .jumboton-callout-header {
    color: var(--white);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-family: "Playfair Display", sans-serif;
    }

    .contact-jumbotron {
    color: var(--white);
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    padding-top: 50px;
    letter-spacing: 2px;
    background-color: transparent;
    font-family: "Playfair Display", sans-serif;
    }

    .jumbotron-offers {
    color: var(--white);
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    background-color: transparent;
    font-family: "Playfair Display", sans-serif;
    }

    .navbar-brand {
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 17px;
    }

    .reviews {
        margin: 20px;
    }

    .reviews h3 {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--white);
    }

    .reviews p {
    font-size: 12px;
    letter-spacing: 2px;
    color: var(--white);
    }

    .menu-jumbotron {
    color: var(--white);
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    padding-top: 50px;
    letter-spacing: 2px;
    background-color: transparent;
    font-family: "Playfair Display", sans-serif;
    }

    .footer p {
    font-size: 10px;
    }

    .map {
    width: 18rem;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
}

@media(min-width: 768px) {
    .form-container {
        width: 80%;
        margin-left: 10%;
    }

    .btn-email {
        margin-left: 90px;
        font-weight: bold;
    }

    .page-header {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    color: var(--white);
    letter-spacing: 2px;
    }

    .jumboton-callout-header {
    color: var(--white);
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-family: "Playfair Display", sans-serif;
    font-size: 25px;
    }

    .contact-jumbotron {
    color: var(--white);
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
    padding-top: 50px;
    letter-spacing: 2px;
    background-color: transparent;
    font-family: "Playfair Display", sans-serif;
    }

    .jumbotron-offers {
    color: var(--white);
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    background-color: transparent;
    font-family: "Playfair Display", sans-serif;
    }

    .navbar-brand {
    font-weight: bold;
    margin-left: 5px;
    letter-spacing: 4px;
    font-size: 25px;
    }

    .reviews h3 {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--white);
    }

    .reviews p {
        font-size: 15px;
        letter-spacing: 1px;
        color: var(--white);
    }

    .menu-jumbotron {
    color: var(--white);
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
    padding-top: 50px;
    letter-spacing: 2px;
    background-color: transparent;
    font-family: "Playfair Display", sans-serif;
    }

    .footer p{
    font-size: 12px;
    }

    .map {
    width: 45rem;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    }
}

@media(min-width: 992px) {
    .btn-email {
        margin-left: 37%;
        font-weight: bold;
    }

    .jumboton-callout-header {
    color: var(--white);
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-family: "Playfair Display", sans-serif;
    }

    .navbar-brand {
        font-weight: bold;
        margin-left: 15%;
        letter-spacing: 4px;
        font-size: 30px;
        }

    #navbarmenu {
        margin-right: 10%;
    }
}
/*-----------------------------------/Media Queries----------------------------*/