/*-----------------------------------Fonts---------------------------*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "PT Serif",sans-serif;
    background-color: black;
}

/*-----------------------------------navbar----------------------------*/
.navbar-dark {
    background-color: transparent;
}

.navbar-items {
    margin-bottom: 15px;
}

.navbar .navabar-items a {
    transition: all 0.90s ease-in-out;
    -moz-transition: all 0.90s ease-in-out;
    -webkit-transition: all 0.90s ease-in-out;
    -o-transition: all 0.90s ease-in-out;
}

.navbar .navbar-items a:hover {
    color: #c33149;
}

.collapse .navbar-nav .nav-item a {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.collapse .navbar-nav .nav-item a:hover {
    color: #c33149;
}

.navbar-nav .nav-item {
    margin-right: 5px;
    letter-spacing: 4px;
    font-weight: bold;
}

.navbar .navbar-toggler {
    margin-left: 15px;
    border: 0;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-item {
    color: white;
}
/*-----------------------------------/navbar----------------------------*/
/*-----------------------------------Index Section----------------------------*/
.callout-container {
    margin-bottom: 20px;
    
    height: 50vh;
    background: url(../images/heroimage.jpg) no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.about-container {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f7fff7;
}

.about p {
    text-align: justify;
    margin-bottom: 25px;
    font-size: 16px;
}

.gallery {
    margin-bottom: 50px;
}

.gallery-container {
   margin-top: 20px;
   margin-bottom: 20px;
   color: white;
}

.carousel-item {
    height: 20rem;
    background-color: black;
}

.carousel-control-prev-icon {
    background-color: black;
}

.carousel-control-next-icon {
    background-color: black;
}

.container-wrapper-about {
    background-color: #c33149;
    margin-top: 50px;
}

.container-wrapper {
    background-color: #c33149;
}

.reviews-container {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f7fff7;
    
}

.reviews {
    text-align: center;
    margin: 30px;
}

.reviews i {
    margin-bottom: 10px;
}

.btn-feedback {
    margin-bottom: 20px;
}

.callout-button {
    margin-bottom: 10px;
}
/*-----------------------------------/Index Section----------------------------*/
/*-----------------------------------Menus----------------------------*/
.callout-container-alacarte {
    margin-bottom: 20px;
    
    height: 50vh;
    background: url(../images/alacartecontainer.jpg) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.callout-container-lunch {
    margin-bottom: 20px;
    
    height: 50vh;
    background: url(../images/lunchcontainer.jpg) no-repeat right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.callout-container-pretheatre {
    margin-bottom: 20px;
    
    height: 50vh;
    background: url(../images/pretheatrecontainer.jpg) no-repeat center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
.menu-container {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: #c33149;
}

.starter {
    color: white;
}

.deserts {
    color: white;
    margin-bottom: 40px;
}

.price {
    margin-bottom: 0;
}

.dish-col-one {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 2px;
}

.dish-col-one i {
    font-size: 12px;
}

.dish-col-two {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 2px;
}

.dish-col-two i {
    font-size: 12px;
}

.btn-menu {
    margin: 2px;
    font-weight: bold;
}

.container-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*-----------------------------------/Menus----------------------------*/
/*-----------------------------------Offers----------------------------*/
.callout-container-offers {
    margin-bottom: 20px;
    
    height: 50vh;
    background: url(../images/offerscontainer.jpg) no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.lunch-offer-container {
    margin-top: 20px;
    color: white;
    justify-content: center;
    justify-items: center;
}

.lunch-offer-image {
    width: 80%;
    height: 80%;
    background-color: black;
    padding-left: 50px;
    margin-top: 5px;
}

.img-thumbnail {
    background-color: black;
}

.lunch-offer {
    margin-top: 25px;
    padding-left: 5px;
}

.lunch-offer p {
    text-align: left;
    font-size: 12px;
}

.pretheatre-offer-container {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    justify-content: center;
    justify-items: center;
    background-color: #c33149;
}

.pretheatre-offer-image {
    width: 80%;
    height: 80%;
    background-color: #c33149;
    padding-left: 50px;
    margin-top: 5px;
}

.img-thumbnail {
    background-color: black;
}

.pretheatre-offer {
    margin-top: 25px;
    padding-left: 5px;
}

.pretheatre-offer p {
    text-align: left;
    font-size: 12px;
}

.btn-bottom {
    margin-bottom: 50px;
}
/*-----------------------------------/Offers----------------------------*/
/*-----------------------------------Contact---------------------------*/
.callout-container-contact {
    margin-bottom: 20px;
    
    height: 50vh;
    background: url(../images/contactcontainer.jpg) no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.location-container {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f7fff7;
}

.map-wrapper {
    margin-bottom: 20px;
    margin-top: 20px;
}

.map {
    width: 90rem;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-wrapper i {
    margin-bottom: 10px;
    margin-top: 20px;
}

.form-container {
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;

}

.form-container label {
   color: white;
   
}

.btn-email {
    font-weight: bold;
    margin-top: 20px;
}
/*-----------------------------------/Contact----------------------------*/
/*-----------------------------------Footer----------------------------*/
.footer-container {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.footer {
    text-align: center;
}

.footer-heading {
    font-size: 25px;
    font-weight: bold;
}

.footer-heading-address {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: bold;
}

.footer-links {
    margin-top: 20px;
}

.footer-links li a i {
    margin-top: 10px;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-links li a i:hover {
    color: #c33149;
}
/*-----------------------------------/Footer----------------------------*/
/*-----------------------------------Alert----------------------------*/
.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    padding: 5px 15px;
}

.alert-warning {
    color: white;
    background-color: #c33149;
    text-align: center;
}
/*-----------------------------------/Alert----------------------------*/
/*-----------------------------------Animation----------------------------*/
@keyframes hero-zoom {
  
  from {
      transform: scale(0.9);
  }

  to{
      transform: scale(1);
  }

}
/*-----------------------------------/Animation----------------------------*/
/*-----------------------------------Speacial Headings----------------------------*/
.page-header {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 35px;
    color: white;
    letter-spacing: 2px;
}
/*-----------------------------------/Speacial Headings----------------------------*/
/*-----------------------------------Media Queries----------------------------*/
@media(min-width: 320px) {
    .btn-email {
        font-weight: bold;
    }
    .page-header {
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    letter-spacing: 2px;
    }
    .jumboton-callout-header {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-family: "Playfair Display", sans-serif;
    }
    .contact-jumbotron {
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    padding-top: 50px;
    letter-spacing: 2px;
    background-color: transparent;
    font-family: "Playfair Display", sans-serif;
    }

    .jumbotron-offers {
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    background-color: transparent;
    font-family: "Playfair Display", sans-serif;
    }
    .navbar-brand {
    font-weight: bold;
    letter-spacing: 4px;
    font-size: 20px;
    }
    .reviews {
        margin: 20px;
    }
    .reviews h3 {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    }
    .reviews p {
        font-size: 12px;
    }
    .menu-jumbotron {
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    padding-top: 50px;
    letter-spacing: 2px;
    background-color: transparent;
    font-family: "Playfair Display", sans-serif;
    }
    .footer p {
    font-size: 10px;
    }
}

@media(min-width: 768px) {
    .form-container {
        width: 80%;
        margin-left: 10%;
    }
    .btn-email {
        margin-left: 90px;
        font-weight: bold;
    }
    .page-header {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    color: white;
    letter-spacing: 2px;
    }
    .jumboton-callout-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-family: "Playfair Display", sans-serif;
    font-size: 25px;
    }
    .contact-jumbotron {
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
    padding-top: 50px;
    letter-spacing: 2px;
    background-color: transparent;
    font-family: "Playfair Display", sans-serif;
    }

.jumbotron-offers {
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    background-color: transparent;
    font-family: "Playfair Display", sans-serif;
    }
    .navbar-brand {
    font-weight: bold;
    margin-left: 5px;
    letter-spacing: 4px;
    font-size: 25px;
    }
    .reviews h3 {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    }
    .reviews p {
        font-size: 15px;
    }
    .menu-jumbotron {
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
    padding-top: 50px;
    letter-spacing: 2px;
    background-color: transparent;
    font-family: "Playfair Display", sans-serif;
    }
    .footer p{
    font-size: 12px;
    }
}

@media(min-width: 992px) {
    .btn-email {
        margin-left: 37%;
        font-weight: bold;
    }
    .jumboton-callout-header {
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-family: "Playfair Display", sans-serif;
    }
}
/*-----------------------------------/Media Queries----------------------------*/