@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto",sans-serif;
    background-color: black;
}

/*-----------------------------------navbar----------------------------*/
.navbar-dark {
    background-color: transparent;
}

.navbar-items {
    margin-bottom: 15px;
}

.navbar-nav .nav-item {
    margin-right: 5px;
    letter-spacing: 4px;
    font-weight: bold;
}

.navbar-brand {
    font-weight: bold;
    margin-left: 5px;
    letter-spacing: 4px;
    font-size: 25px;
}

.navbar .navbar-toggler {
    margin-left: 15px;
    border: 0;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-item {
    color: white;
}

/*-----------------------------------Jumboton----------------------------*/
.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.contact-jumbotron {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 2px;
    background-color: transparent;
}

.jumbotron-offers {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 2px;
    background-color: transparent;
}
/*-----------------------------------Section----------------------------*/
.callout-container {
    margin-bottom: 20px;
    
    height: 50vh;
    background: url(/assets/images/homepageimgedit1.jpg) no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
  
  from {
      transform: scale(1);
  }

  to{
      transform: scale(1.1);
  }

}

.callout-container-offers {
    margin-bottom: 20px;
    
    height: 50vh;
    background: url(/assets/images/offers3edit.jpg) no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.callout-container-contact {
    margin-bottom: 20px;
    
    height: 50vh;
    background: url(/assets/images/contactedit.jpg) no-repeat fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.page-header {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
}

.about-container {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f7fff7;
}

.location-container {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f7fff7;
}

.about p {
    text-align: left;
    margin-bottom: 25px;
}

.gallery {
    margin-bottom: 50px;
}

.gallery-container {
   margin-top: 20px;
   margin-bottom: 20px;
   color: white;
}

.carousel-item {
    height: 20rem;
    background-color: black;
}

.carousel-control-prev-icon {
    background-color: black;
}

.carousel-control-next-icon {
    background-color: black;
}

.container-wrapper-about {
    background-color: #d05353;
    margin-top: 50px;
}

.container-wrapper {
    background-color: #d05353;
}

.reviews-container {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f7fff7;
    
}

.reviews {
    text-align: center;
    margin: 30px;
}

.btn-feedback {
    margin-bottom: 20px;
}

.lunch-offer-container {
    margin-top: 20px;
    color: white;
    justify-content: center;
    justify-items: center;
}

.lunch-offer-image {
    width: 80%;
    height: 80%;
    background-color: black;
    padding-left: 50px;
    margin-top: 5px;
}

.img-thumbnail {
    background-color: black;
}

.lunch-offer {
    margin-top: 25px;
    padding-left: 5px;
}

.lunch-offer p {
    text-align: left;
    font-size: 12px;
}

.pretheatre-offer-container {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    justify-content: center;
    justify-items: center;
}

.pretheatre-offer-image {
    width: 80%;
    height: 80%;
    background-color: black;
    padding-left: 50px;
    margin-top: 5px;
}

.img-thumbnail {
    background-color: black;
}

.pretheatre-offer {
    margin-top: 25px;
    padding-left: 5px;
}

.pretheatre-offer p {
    text-align: left;
    font-size: 12px;
}

.btn-bottom {
    margin-bottom: 50px;
}

.form-container {
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;

}

.form-container label {
   color: white;
   
}

#textarea {
    margin-bottom: 20px;
}

.btn-email {
        font-weight: bold;
    }

.btn-menu {
    margin-bottom: 10px;
}
/*-----------------------------------Footer----------------------------*/
.footer-container {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.footer {
    text-align: center;
}

.footer p{
    font-size: 10px;
}

.footer-heading {
    font-size: 25px;
    font-weight: bold;
}

.footer-heading-address {
    font-size: 27px;
    letter-spacing: 1px;
}

.footer-links {
    margin-top: 20px;
}

.footer-links li a i {
    margin-top: 10px;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.footer-links li a i:hover {
    color: #e84610;
}
/*-----------------------------------Media Queries----------------------------*/

@media(min-width: 320px) {
    .btn-email {
        font-weight: bold;
    }
}

@media(min-width: 768px) {
    .form-container {
        width: 80%;
        margin-left: 10%;
    }
    .btn-email {
        margin-left: 90px;
        font-weight: bold;
    }
}

@media(min-width: 992px) {
    .btn-email {
        margin-left: 37%;
        font-weight: bold;
    }
}